<!DOCTYPE html>
<html lang="en">
<head>

   {% block title %}<title>Telzir</title>{% endblock %}
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  

   {% block head%}
   {% endblock %}
   {% load staticfiles %}
   <link rel="stylesheet"  type="text/css" href="{% static 'telzirEstilo/style.css' %}" />
</head>
{% load static %}
<body class = "bodyhome">
                {% if user.is_authenticated %}
        <div class="navbar">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'tarifa' %}">Calcular tarifa</a>
                <a href="{% url 'login' %}">Logar</a>
                <a href="{% url 'register' %}">Cadastro</a>
                <a href="{% url 'contato' %}">Contato</a>
                <a href="{% url 'about' %}" >About</a>
                <a href="{% url 'planoextra' %}">Planos</a>
                <a href="{% url 'logout' %}">Logout</a>

        </div>
        <br>
        <br>
        <div class="msgll">
        <h2>Agora que esta  logado voce pode ver nossos planos extras clicando em Planos<h2>
        </div>
        <h1 class="wl">Bem vindo a Telzir {{ user.username }} !</h1>   
              {% else %}
              <div class="navbar">
                        <a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'tarifa' %}">Calcular tarifa</a>
                        <a href="{% url 'login' %}">Logar</a>
                        <a href="{% url 'register' %}">Cadastro</a>
                        <a href="{% url 'contato' %}">Contato</a>
                        <a href="{% url 'about' %}" >About</a>
              </div>      
              <h1 class="wl">Bem vindo a Telzir!<h1>   
                 {% endif %}

<br>
                
</body>
</html>
